section {
  border: 2px solid red;
}

#col1 {
  float: left;
  width: 300px;
  background-color: #f86a54;
}

#col2 {
  float: left;
  width: 200px;
  background-color: cyan;
}

/* http://nicolasgallagher.com/micro-clearfix-hack/ */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}