<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="https://vuejs.org/images/logo.png">
  <title>v-for e TODO list</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    .risca {
      text-decoration: line-through;
    }
    .span-is-link {
      text-decoration: none;
      cursor: pointer;
      color: #0645AD;
    }
  </style>
</head>
<body>
  <div id="app" class="container" style="padding: 20px;">
    <a href="../vuejs.html">Voltar</a>
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input type="text"
        class="input"
        placeholder="Text input"
        v-model="novatarefa"
        @keyup.enter="add()">
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>To-do</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tarefa in tarefas">
          <td>
            <input type="checkbox" v-model="tarefa.feita">
          </td>
          <td :class="{risca: tarefa.feita}">{{ tarefa.tarefa }}</td>
          <td>
            <span class="icon has-text-info span-is-link" @click="remove(tarefa)">
              <i class="fa fa-trash-o"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        novatarefa: '',
        tarefas: [
          {tarefa: 'Lavar a roupa', feita: false},
          {tarefa: 'Trocar a fralda do neném', feita: true},
          {tarefa: 'Passear com o cachorro', feita: false},
        ]
      },
      methods: {
        add: function() {
          this.tarefas.push(
            {tarefa: this.novatarefa, feita: false}
          )
          this.novatarefa = ''
        },
        remove: function(tarefa) {
          var idx = this.tarefas.indexOf(tarefa)
          this.tarefas.splice(idx, 1)
        }
      }
    });
  </script>
</body>
</html>