<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="https://vuejs.org/images/logo.png">
  <title>My Gist</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id="app" class="container" style="padding: 20px;">
    <a href="/" style="margin-right:25px">Voltar</a>
    <span style="padding-left:10px;cursor:pointer;color:#3273dc;" v-for="user in users" @click="gistByUser(user)">@{{ user }}</span>
    <div class="field">
      <div class="control">
        <input type="text"
        class="input"
        placeholder="Search..."
        v-model="search">
      </div>
    </div>
    <div class="navbar">
      <p>Total: {{ filteredItems.length }}/{{ items.length }}</p>
    </div>
    <table class="table">
      <tbody>
        <tr v-for="item in filteredItems">
          <td>
            <a :href="item.url" target="_blank">{{ item.description }}</a>
            <ul style="position:relative; left:20px">
              <li v-for="file in Object.keys(item.files)">
                <a style="font-size:12px; color:#3273dcc4;" :href="item.files[file].raw_url" target="_blank">{{ file }}</a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<script>
var app = new Vue({
    el: '#app',
    data: {
      items: [],
      users: [
        'rg3915',
        'olivx',
        'dunossauro',
      ],
      search: ''
    },
    methods:{
      // https://stackoverflow.com/a/49715374
      pages: function(start, end){
        return Array(end - start + 1).fill().map((_, idx) => start + idx)
      },
      getGist(username){
        this.pages(1, 6).forEach(page => {
          axios.get('https://api.github.com/users/'+username+'/gists?page='+page)
          .then((result) => {
            result.data.forEach(item => {
              this.items.push(
                {description: item.description, url: item.html_url, files: item.files}
              )
            })
          })
        })
      },
      gistByUser(username){
        this.items = []
        this.getGist(username)
      }
    },
    mounted(){
      this.getGist('rg3915')
    },
    computed: {
      filteredItems(){
        return this.items.filter((item) => {
          return item.description.toLowerCase().indexOf(this.search.toLowerCase())>=0;
        });
      }
    }
  });

</script>

</body>
</html>