{% extends "base.html" %}
{% load static %}
{% load bootstrap %}

{% block content %}

<div class="container">

  <div class="page-header">
    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-customer">
      <!-- O data-target abre o modal com Bootstrap -->
      <span class="glyphicon glyphicon-plus"></span> Adicionar
    </button>

    <h1>Lista de Clientes</h1>
  </div>

  {% if customers %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>e-mail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for customer in customers %}
        <tr class="tr-customer">
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>
            <!-- Delete Customer -->
            <i  class="fa fa-close pull-right js-customer-delete"
                style="color: #0066FF; text-decoration: none; cursor: pointer; margin-left:10px"
                data-id="{{ customer.pk }}"
                data-url="{% url 'djbasic:customer_delete' customer.pk %}"
                ></i>
            <!-- Edit Customer -->
            <i  class="fa fa-edit pull-right js-customer-edit"
                style="color: #0066FF; text-decoration: none; cursor: pointer"
                data-id="{{ customer.pk }}"
                data-url="{% url 'djbasic:customer_edit' customer.pk %}"
                ></i>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert alert-warning">Sem itens na lista.</p>
  {% endif %}
</div>

<!-- Modal -->
<div id="modal-customer" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" data-dismiss="modal" type="button">
            <span aria-hidden="True">&times;</span>
          </button>
          <h3 class="modal-title">Cadastrar Cliente</h3>
        </div> <!-- header -->

        <form id="customer-form" action="{% url 'djbasic:customer_save' %}" data-urlredirect="{% url 'djbasic:customer_list' %}" method="POST">
          <div class="modal-body">
            <!-- if this form is sent only via ajax you don't need this:
            { csrf_token %}
            -->
            {{ form|bootstrap }}
          </div> <!-- body -->

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div> <!-- footer -->
      </form>
    </div>
  </div>
</div>

<!-- Modal Editar Customer -->
<div id="modal-customer-edit" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button class="close" aria-label="Close" data-dismiss="modal" type="button">
            <span aria-hidden="True">&times;</span>
          </button>
          <h3 class="modal-title">Editar Cliente</h3>
        </div> <!-- header -->

        <form id="customer-form-edit" action="." data-id="" data-url="" data-urlredirect="{% url 'djbasic:customer_list' %}" method="POST">
          <div class="modal-body">
            <!-- if this form is sent only via ajax you don't need this: -->
            {% csrf_token %}
            {{ form|bootstrap }}
          </div> <!-- body -->

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div> <!-- footer -->
      </form>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
  <script src="{% static 'js/customer.js' %}"></script>
  <script>
    // Abrir Modal
    // $("#modal-customer").modal('show');
    </script>
{% endblock js %}