{% extends "base.html" %}

{% block content %}

<div class="container">

	<div class="page-header">
			<a class="ui primary button pull-right" href="{% url 'djbasic:person_add' %}"><i class="glyphicon glyphicon-plus"></i> Adicionar</a>
		<h1>Lista de Contatos</h1>
	</div>

	{% if object_list %}
		<table class="ui celled table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Idade</th>
					<th>Descrição</th>
				</tr>
			</thead>
			<tbody>
			{% for person in object_list %}
				<tr>
					<td>{{ person.name }}</td>
					<td>{{ person.age|default:"-" }}</td>
					<td>{{ person.description }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p class="alert alert-warning">Sem itens na lista.</p>
	{% endif %}
</div>
{% endblock content %}